.all{
    cursor: pointer;
    border: 1px solid black;
    height: 50px;
}

.currency {
    position: absolute;
    left: 85%;
    top: 2%;


    width: 12px;
    height: 29px;

    /* --price-regular-font */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    /* identical to box height, or 29px */

    display: flex;
    align-items: flex-end;

    /* --c-black */

    color: #1D1F22;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    cursor: pointer;
}

.arrow {
    position: absolute;
    top: 2%;
    left: 86.5%;

    width: 12px;
    height: 29px;

    /* --price-regular-font */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    /* identical to box height, or 29px */

    display: flex;
    align-items: flex-end;

    /* --c-black */

    color: #1D1F22;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    cursor: pointer;
}