
.logo1 {
    position: absolute;
    left: 50%;
    right: 6.6%;
    top: 3%;
    bottom: 20.98%;

    background: #1DCF65;
}

.logo2 {
    position: absolute;
    left: 49.9%;
    right: -0.07%;
    top: 3.3%;
    bottom: 0.83%;

    background: linear-gradient(316.98deg, #52D67A 16.88%, #5AEE87 84.04%);
}

.logo3 {
    position: absolute;
    left: 50.5%;
    right: 29.25%;
    top: 4.7%;
    bottom: 29.47%;
}

.logo4 {
    position: absolute;
    left: 51.25%;
    right: 21.97%;
    top: 4.2%;
    bottom: 58.17%;

}