.products {
    display: flex;
}

.h1{
    position: absolute;
    height: 68px;
    left: 5%;
    top: 8%;

    /* Heading / Desktop / H2 */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 160%;
    /* identical to box height, or 67px */

    display: flex;
    align-items: center;

    /* --c-text */

    color: #1D1F22;
}
