.all{ 
    margin-top: 120px;
    margin-left: 80px;
    padding: 10px;
}

.all:hover{
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.picture {
    opacity: 100%;
}


.title {
    width: 354px;
    height: 29px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    /* identical to box height, or 29px */

    display: flex;
    align-items: center;

    /* --c-black */

    color: #1D1F22;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.price {
    width: 58px;
    height: 29px;

    /* --price-regular-font */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    /* identical to box height, or 29px */

    text-align: right;

    /* --c-black */

    color: #1D1F22;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
